<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <nav class="navbar navbar-default" role="navigation">
              <div class="inner">              
                <!-- <img class="masthead-brand" src="/images/ebate-logo.png" alt="ebate-logo"> -->
                <%= image_tag("ebate-logo.png", :alt => "ebate-logo", :class => "masthead-brand") %>
                <ul class="nav masthead-nav">
                  <li><%= link_to "Home", "/" %></li>
                  <li class="active"><%= link_to "FAQ", "faq" %></li>
                </ul>
                <br>
              </div><!--inner-->
            </nav>
          </div>

        </div><!--cover-container-->

    </div><!--site-wrapper-inner-->

</div><!--site-wrapper-->