<div class="masthead clearfix"> 
  <nav class="navbar navbar-default" role="navigation">
    <div class="inner">              
      <!-- <img class="masthead-brand" src="/images/ebate-logo.png" alt="ebate-logo"> -->
      <%= image_tag("ebate-logo.png", :alt => "ebate-logo", :class => "masthead-brand") %>
      <ul class="nav masthead-nav">
        <li class="active"><%= link_to "Home", "/" %></li>
        <li><%= link_to "FAQ", "faq" %></li>
      </ul>
      <br>
    </div><!--inner-->
  </nav>
</div>
